<!DOCTYPE html>
<html lang="pt_BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lar da Felicidade | Happy</title>

		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""
		/>

		<script
			src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""
		></script>

		<link rel="icon" href="/images/logo-icon.png" />

		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/animations.css" />
		<link rel="stylesheet" href="/css/sidebar.css">
		<link rel="stylesheet" href="/css/map.css">
		<link rel="stylesheet" href="/css/buttons.css">
		<link rel="stylesheet" href="/css/page-orphanage.css" />

		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div id="page-orphanage">
			<aside class="animate-right sidebar">
				<img src="/images/map-marker.svg" alt="Happy" />
				<footer>
					<button onclick="history.back()">
						<img src="/images/arrow-back.svg" alt="Voltar" />
					</button>
				</footer>
			</aside>

			<main class="animate-appear with-sidebar">
				<div class="orphanage-details">
					<img
						src="https://images.unsplash.com/photo-1502086223501-7ea6ecd79368?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=723&q=80"
						alt="Lar da Felicidade"
					/>

					<div class="images">
						<button
							onclick="selectImage(event)"
							class="active"
							type="button"
						>
							<img
								src="https://images.unsplash.com/photo-1440288736878-766bd5839edb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
								alt="Lar da Felicidade"
							/>
						</button>

						<button onclick="selectImage(event)" type="button">
							<img
								src="https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
								alt="Lar da Felicidade"
							/>
						</button>

						<button onclick="selectImage(event)" type="button">
							<img
								src="https://images.unsplash.com/photo-1542810634-71277d95dcbb?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
								alt="Lar da Felicidade"
							/>
						</button>

						<button onclick="selectImage(event)" type="button">
							<img
								src="https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
								alt="Lar da Felicidade"
							/>
						</button>

						<button onclick="selectImage(event)" type="button">
							<img
								src="https://images.unsplash.com/photo-1533222481259-ce20eda1e20b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=805"
								alt="Lar da Felicidade"
							/>
						</button>

						<button onclick="selectImage(event)" type="button">
							<img
								src="https://images.unsplash.com/photo-1502781252888-9143ba7f074e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
								alt="Lar da Felicidade"
							/>
						</button>
					</div>

					<div class="orphanage-details-content">
						<h1>Lar da Felicidade</h1>
						<p>
							Presta assistência a crianças de 06 a 15 anos que se
							encontrem em situação de risco e/ou vulnerabilidade social.
						</p>

						<div class="map-container">
							<div id="mapid"></div>
							<footer>
								<a href="#">Ver rotas no Maps</a>
							</footer>
						</div>

						<hr />

						<h2>Instruções para visita</h2>
						<p>
							Venha se sentir à vontade e traga muito amor e paciência
							para dar.
						</p>

						<div class="open-details">
							<div class="hour">
								<img src="/images/clock.svg" alt="Horários" />
								Horário de visitas <span>das 8h às 18h.</span>
							</div>
							<div class="open-on-weekends">
								<img src="/images/info.svg" alt="Informações" />
								Atendemos <span>fins de semana</span>
							</div>
						</div>

						<button class="primary-button" type="button">
							<img
								src="/images/whatsapp.svg"
								alt="Chamar no Whatsapp"
							/>
							Entrar em contato
						</button>
					</div>
				</div>
			</main>
		</div>
		<script src="/scripts/page-orphanage.js"></script>
	</body>
</html>
